/unit2/examples/lp/clase-estudiante-1/EjemploEstudiante/nbproject/private/
/unit2/examples/lp/clase-estudiante-1/EjemploEstudiante/build/
/unit2/examples/lp/constructor-c1/ConstructorUno/nbproject/private/
/unit2/examples/lp/constructor-c1/ConstructorUno/build/
/unit2/examples/lp/constructor-c2/ConstructorUno/build/
/unit2/examples/lp/constructor-c2/ConstructorUno/nbproject/private/